{
  "parser": "@typescript-eslint/parser",
  "extends": [
     "standard" ,
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "ignorePatterns": [
    "node_modules/",
    "dist/"
    
  ],
  "rules": {
    "semi": ["error", "always"],
    "no-console":"warn"
    
  }
}


